@media (max-width: 1300px) {
    .nav_list_links_soc {
        margin-right: 0px;
    }

    .position {
        max-width: 866px;
        margin: 0 30px;
    }

    .header .position {
        padding-left: 25px;
    }

    .section_offer {
        min-height: 730px;
    }

    .content_section_offer {
        top: 120px;
        padding: 25px;
        max-width: 760px;
        min-height: 450px;
    }

    .title_content_offer h1 {
        font-size: 30px;
    }

    .text_content_offer {
        font-size: 26px;
        max-width: 350px;
    }

    .video_content_offer {
        width: 350px;
        height: 200px;
    }

    .special_section_offer {
        max-width: 460px;
        right: -105px;
        top: 105px;
        padding: 20px;
    }

    .text_special_offer { 
        margin-top: 12px; 
        font-size: 22px;
    }
    
    .special_price_offer {
        margin-top: 5px;
        line-height: 52px;
    }
    
    .special_cost_offer {
        font-size: 60px;
    }
    
    .valuta_special_cost {
        font-size: 35px;
    }
    
    
    .title_special_offer h2{
        font-size: 22px;
    }
    
    .choice_special_offer {
      margin-top: 5px;
    }
    
    .text_choice {
        font-size: 17px;
    }
    
    .icon_select_model {
        height: 55px;
        width: 35px;
    }

    .special_offer_image {
        top: 40px;
        right: 20px;
        width: 230px;
        height: 142px;
    }

    .merit_choice{
        margin-top: 12px;
    }

    .type_merit {
        line-height: 24px;
        font-size: 15px;
    }

    .type_merit:after {
        left: -26px;
        width: 10px;
        height: 10px;
        bottom: 10px;
    }

    .button_special_offer {
        bottom: -120px;
    }

    .wrapper {
        padding-left: 25px;
    }
    
    .content_section_order:after {
        content: "";
        position: absolute;
        height: 80%;
        width: 455px;
        top: 0;
        right: -50px;
        background-image: url(../img/fonesectionorder.png);
        background-size: 180% 180%;
        background-repeat: no-repeat;
        background-position: 92% 100%;
    }

    .section_order {
        min-height: 730px;
        background: url(../img/backsectionorder_.png) repeat-x 100% 159.5%, linear-gradient(to bottom, white 25%, #e4eaef 25%, #e4eaef 64%, white 64%);
    }

    .content_section_order {
        margin-top: 80px;
    }

    .title_section_order {
        font-size: 22px;
    }

    .text_section_order {
        justify-content: space-around;
        margin-top: 60px;
    }

    .description_order {
        font-size: 24px;
    }
    
    .section_description {
        min-height: 770px;
    }

    .logo_section_description {
        left: -40px;
        width: 530px;
    }
    
    .text_section_description {
        font-size: 38px;
        width: 750px;
        letter-spacing: 1px;
        line-height: 45px;
    }
    
    .sofa-img_section_description {
       width: 650px;
       bottom: -120px;
    }

    .section_properties { 
        align-items: center;
    }
    
    .section_properties:after {
        height: 60%;
        width: 600px;
        background-size: contain;
    }
    
    .content_setion_properties{
        min-height: 800px;
        max-width: 900px;
        justify-content: space-between;
    }
    
    .title_section_properties:after {
        height: 150px;
        width: 500px; 
        font-size: 22px;
        line-height: 30px;
    }
    
    .block_section_properties {
       width: 185px;
       height: 160px;
       margin: 10px;
    }

    .block_section_properties_bk-1,
    .block_section_properties_bk-4 {
       margin-top: 35px;
    }

    .block_section_properties_bk-5,
    .block_section_properties_bk-8 {
       margin-bottom: 35px;
    }
    
    .icon_block_properties {
        width: 120px;
        height: 75px;
    }
    
    .title_block_properties {
        font-size: 11px;
        padding: 10px;
    }

    .title_section_reviews {
        margin: 0 105px;
    }
    
    .title_section_reviews h1 {   
        font-size: 45px;
    }

    .content_text_reviews {
        font-size: 22px;
    }

    .main_section_reviews {
        min-height: 300px;
    }

    .content_image_reviews {
        height: 300px;
    }

    .insrtuction{
        padding-top: 80px;
        padding-bottom: 50px;
        max-width: 900px;
    }

    .instruction__title-wrapper::before {
        max-width: 800px;
        top: -30px;
        left: -30px;
        z-index: -1;
    }
    
    .instruction__title {
        max-width: 700px;
        font-size: 32px;
        line-height: 35px;
    }

    .usage-decription__elem-wrapper {
        list-style: none;
        position: relative;
        padding-left: 50px;
     }
     
     .usage-decription__elem-content {
        font-size: 15px;
        max-width: 240px;
        padding: 10px 20px 10px 40px;
     }

     .usage-decription__elem-number {
        line-height: 85px;
        font-size: 20px;
        width: 70px;
        height: 85px;
    }

    .usage-video {
        width: 530px;
        height: 320px;
    }
}


@media (max-width: 950px) {

    .special_section_offer {
       position: static;
       margin-top: 30px;
       min-width: 100%;
    }

    .img_wrapper {
        position: relative
    }

    .special_offer_image {
      position: absolute;
      top: -265px;
      right: 0px;
    }

    .content_section_offer {
        position: static;
        margin-top: 120px;
        margin-bottom: 50px;
        max-width: 645px;
        padding: 30px 35px;
        min-height: 950px;
    }

    .section_offer .position {
        justify-content: space-around;
    }

    .link_mobal {
        font-size: 25px;
        align-items: center;
    }

    .position {
        max-width: 866px;
        margin: 0 30px;
    }

    .header .position {
        padding-left: 25px;
    }

    .video_content_offer {
        margin-top: 20px;
        width: 100%;
        height: 300px;
        border: 8px solid white;
    }

    .section_offer {
        min-height: 730px;
    }

    .title_content_offer h1 {
        font-size: 24px;
    }

    .text_content_offer {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        font-size: 20px;
        margin-top: 15px;
        max-width: 100%;
    }

    .title_special_offer h2 {
        font-size: 18px;
    }

    .text_special_offer { 
        display: flex;
        justify-content: flex-start;
        width: 100%;
        font-size: 17px;
        margin-top: 15px; 
    }

    .text_special_offer p {
        max-width: 150px;
    }

    .special_price_offer {
        display: flex;
        margin-top: 0;
        line-height: 35px;
        margin-left: 10px;
    }

    .special_cost_offer {
        font-size: 50px;
    }
    
    .valuta_special_cost {
        display: flex;
        align-items: flex-end;
        font-size: 30px;
        margin-left: 5px;
    }

    .choice_special_offer {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
      }
      
    .text_choice {
        width: 100%;
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    .icon_select_model {
        height: 85px;
        width: 65px;
        margin-left: 0;
    }

    .special_offer_image {
        top: -300px;
        right: -20px;
        width: 230px;
        height: 142px;
    }

    .merit_choice {
        margin-top: 15px;
    }

    .list_choice {
        display: flex;
        justify-content: space-between;
    }

    .button_special_offer {
        bottom: 80px;
        left: 60%;
        width: 200px;
        height: 70px;;
    }

    .button_special_offer:after {
        display: block;
    }

    .link_special_offer{
        font-size: 18px;
        padding-top: 18px;
    }

    .border_button_specal_offer:after {
        top: 45%;
    }

    .section_description {
        min-height: 460px;
    }
    
    .logo_section_description {
        left: -40px;
        width: 450px;
    }
    
    .content_section_description {
        height: 250px;
        width: 645px;
        padding: 25px;
        margin: 60px 30px;
    }
    
    .text_section_description {
        font-size: 22px;
        width: 100%;
        line-height: 33px;
    }
    
    .sofa-img_section_description {
       width: 450px;
       bottom: -90px;
    }

    .section_properties { 
        background: white;
        align-items: center;
    }
    
    .section_properties:after {
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, transparent 25%, #839aa54d 25%, #839aa54d 32%, transparent 32%, transparent 51.5%, #839aa54d 51.5%, #839aa54d 58.5%, transparent 58.5%, transparent 78%, #839aa54d 78%, #839aa54d 85%, transparent 85%, transparent 100%);
    }
    
    .content_setion_properties{
        min-height: 600px;
        max-width: 900px;
        justify-content: center;
    }
    
    .title_section_properties {
        order: 1;
        align-items: center;
        height: 90px;
    }
    
    .title_section_properties:after {
        height: auto;
        width:  550px; 
        padding: 0;
        font-size: 23px;
        line-height: 30px;
        background: white;;
        color: #757474;
    }
    
    .block_section_properties {
        order: 2;
        margin: 30px;
        z-index: 3;
    }

    .title_section_reviews {
        margin-left: 110px;
        max-width: 550px;
    }
    
    .title_section_reviews h1 {   
        font-size: 36px;
        line-height: 40px;
    }

    .content_text_reviews {
        font-size: 20px;
    }

    .content_mine_section_reviews {
        max-width: 800px;
    }

    .main_section_reviews {
        margin-top: 20px;
        min-height: 300px;
    }

    .content_image_reviews {
        height: 250px;
        max-width: 600px;
        margin: 25px;
    }

    .image_section_reviews {
        width: 100%;
        min-height: 350px;
    }

    .auther_reviews {
        font-size: 22px;
    }

    .button_section_reviews {
        min-height: 80px;
    }

    .button_reviews {
        height: 60px;
        width: 200px;
        font-size: 22px;
    }

    .insrtuction{
        max-width: 600px;
    }

    .instruction__title-wrapper::before {
        max-width: 600px;
        top: -25px;
        left: -30px;
    }
    
    .instruction__title {
        max-width: 500px;
        font-size: 25px;
        line-height: 27px;
    }

    .instruction__main-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .usage-video {
        width: 530px;
        height: 320px;
        align-self: center;
        margin-top: 20px;
        border-width: 8px;
    }
    
}

@media (max-width: 850px) {

    .section_order {
        min-height: 650px;
        background: url(../img/backsectionorder_.png) repeat-x 100% 195.5%, linear-gradient(to bottom, white 25%, #e4eaef 25%, #e4eaef 64%, white 64%);
    }

    .content_section_order {
        margin-top: 65px;
    }

    .title_section_order {
        font-size: 18px;
    }

    .text_section_order {
        margin-top: 45px;
    }

    .description_order {
        font-size: 22px;
    }

    .buttoun_section_orderer {
        margin-top: 70px;
    }

    .content_section_order:after {
        right: -25px;
    }

    .block_section_properties {
        margin: 15px;
    }
    
    .title_section_properties {
        height: 80px;
    }
    
}

@media (max-width: 780px) {
    .title_section_reviews {
        margin: 0 20px;
    }
    
    .title_section_reviews h1 { 
        text-align: center;
        font-size: 35px;
        line-height: 40px;
    }

    .content_text_reviews {
        font-size: 16px;
    }

    .content_mine_section_reviews {
        max-width: 800px;
    }

    .main_section_reviews {
        margin-top: 20px;
        min-height: 150px;
    }

    .content_image_reviews {
        height: 220px;
        max-width: 500px;
        margin: 25px;
        border: 5px solid #6b787c;
    }

    .image_section_reviews {
        min-height: 280px;
    }

    .auther_reviews {
        font-size: 18px;
    }

}

@media (max-width: 750px) {

    .nav_list_links_soc {
        margin-right: 0px;
    }

    .header .position {
        padding: 0;
        margin: 0 10px;
    }

    .header {
        min-height: 80px;
    }

    .link_mobal {
        font-size: 19px;
        margin-left: 0;
        width: 160px;
        height: 100%;
        justify-content: center;
        align-items: flex-end;
    }

    .hedear_nav_logo {
        align-items: center;
        height: 50%;
        width: 160px;
    }

    .link_logo {
        background-size: contain;
        background-repeat: no-repeat;
        height: 46px;
        width: 160px;
    }

    .header_nav {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .section_order {
        min-height: 570px;
        background: url(../img/backsectionorder_.png) repeat-x 100% 274%, linear-gradient(to bottom, white 25%, #e4eaef 25%, #e4eaef 64%, white 64%);
    }

    .content_section_order {
        margin-top: 60px;
    }

    .title_section_order {
        font-size: 16px;
    }

    .text_section_order {
        justify-content: space-around;
        margin-top: 45px;
        height: 200px;
    }

    .description_order {
        font-size: 20px;
    }

    .buttoun_section_orderer {
        margin-top: 70px;
    }

    .content_section_order:after {
        height: 70%;
        width: 300px;
        right: 0;
    }

    .text_section_description {
        letter-spacing: 0px;
    }

    .section_properties:after {
        background: none;
    }

    .block_section_properties {
        margin: 20px;
    }
    
    .title_section_properties {
        width: 100%;
        height: 90px;
    }
    
    .title_section_properties:after {
        font-size: 20px;
    }

}

@media (max-width: 690px) { 

    .content_section_offer {
        max-width: 315px;
        padding: 17px 20px;
        margin-top: 105px;
        min-height: 730px;
    }

    .section_offer .position {
        margin: 0 10px;
    }

    .title_content_offer h1{
        font-size: 19px;
    }

    .text_content_offer {
        font-size: 17px;
    }

    .video_content_offer {
        height: 160px;
        border: 5px solid white;
    }

    .special_section_offer {
        padding: 10px 7px;
        margin-top: 20px;
        border-radius: 10px;
    }

    .title_special_offer h2{
        font-size: 15px;
    }

    .text_special_offer {
        flex-direction: column;
        margin-top: 5px;
    }

    .text_special_offer p {
        max-width: 100%;
        font-size: 12px
    }

    .special_price_offer {
        flex-direction: column;
        margin-left: 0;
        margin-top: 20px;
    }

    .special_cost_offer {
        font-size: 60px;
    }

    .valuta_special_cost {
        font-size: 35px;
        margin-left: 0;
        margin-top: 5px;
    }

    .special_offer_image {
        width: 200px;
        height: 115px;
        top: -255px;
        right: -10px;
    }

    .choice_special_offer {
        margin-top: 10px;
    }

    .text_choice {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .icon_select_model {
        width: 37px;
        height: 50px;
    }

    .merit_choice {
        margin-left: 5px;
        padding-left: 10px;
    }

    .type_merit {
        font-size: 9px;
        font-weight: 100;
        letter-spacing: 0.3px;
    }

    .type_merit:after {
        left: -17px;
        top: 20%;
    }


    .button_special_offer {
        width: 150px;
        height: 45px;
        left: 47%;
        bottom: 65px;
    }

    .link_special_offer {
        font-size: 13px;
        padding-top: 10px;
        box-shadow: inset 0px 0px 5px white;
    }

    .border_button_specal_offer {
        width: 10px;
        border-radius: 3px;
    }

    .border_button_specal_offer:after {
        width: 5px;
        height: 5px;
    }

    .button_special_offer:after {
        width: 80px;
        height: 40px;
        top: 2px;
        left: -100px;
    }

    .section_description {
        min-height: 410px;
    }
    
    .logo_section_description {
        width: 350px;
    }
    
    .content_section_description {
        width: 315px;
        margin: 40px 10px;
        padding: 20px;
    }
    
    .text_section_description {
        font-size: 19px;
        line-height: 22px;
    }
    
    .sofa-img_section_description {
        width: 300px;
        bottom: -80px;
        right: 4px;
    }

    .insrtuction{
        max-width: 330px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .instruction__title-wrapper::before {
        max-width: 330px;
        height: 300px;
        top: 0;
        left: 0;
    }

    .instruction__main-content {
        padding-top: 0;
        align-items: center;
    }

    .usage-decription__elem-number {
        font-size: 18px;
    }

    .usage-decription__elem-content {
        max-width: 240px;
        padding: 10px 20px 10px 30px;
    }

    .section__block-wrapper {
        margin: 0 10px;
    }
    
    .instruction__title {
        max-width: 250px;
        font-size: 20px;
        line-height: 22px;
        margin: 15px 20px;
    }

    .usage-video {
        width: 315px;
        height: 190px;
    }

}

@media (max-width: 650px) {
    .content_section_order:after {
       top: 40px;
       width: 180px;
       height: 200px;
       right: 0px;
    }

    .buttoun_section_orderer {
        transform-origin: left top;
        transform: scale(0.7);
        margin-top: 30px;
    }

    .section_order {
        min-height: 390px;
        background: url(../img/backsectionorder_.png) repeat-x 100%  242px, linear-gradient(to bottom, white 24%, #e4eaef 24%, #e4eaef 62%, white 62%);
    } 

     .content_section_order {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }

    .position {
        display: flex;
        position: relative;
        width: 100%;
    }

    .title_section_order {
        font-size: 13px;
        max-width: 320px;;
    }

    .text_section_order {
        justify-content: space-around;
        margin-top:13px;
        height: 150px
    }

    .description_order {
        font-size: 16px;
    } 

    .title_section_reviews {
        margin: 0 20px;
        max-width: 300px;
    }
    
    .title_section_reviews h1 { 
        font-size: 20px;
        line-height: 22px;
    }

    .content_text_reviews {
        font-size: 12px;
        padding: 12px 18px;
        padding-bottom: 5px;
    }

    .main_section_review {
        min-height: 250px;
    }

    .content_section_reviews {
        margin: 25px 0;
    }

    .content_mine_section_reviews {
        max-width: 350px;
    }

    .arrow_reviews {
        width: 40px;
        background-size: 60% 10%;
    }
    
    .text_reviews {
        margin: 0 30px;
    }

    .main_section_reviews {
        margin-top: 15px;
        padding: 0 5px;
    }

    .content_image_reviews {
        height: 150px;
        max-width: 380px;
        margin: 20px;
    }

    .image_section_reviews {
        min-height: 200px;
    }

    .reviews_section {
        min-height: 500px;
    }

    .auther_reviews {
        font-size: 14px;
        line-height: 35px;
    }

    .button_reviews {
        width: 200px;
        height: 50px;
    }

    .button_section_reviews {
        min-height: 60px;
    }

    .contain_button_reviews {
        height: 50px;
        margin: 0 20px;
    }
    
}

@media (max-width: 550px) {

    .content_setion_properties {
        margin: 30px 0px;
    }

    .section_properties:after {
        background: none;
    }

    .block_section_properties {
        width: 140px;
        height: 165px;
        margin: 15px;
        margin-bottom: 5px;
    }

    .icon_block_properties {
        width: 75px;
        height: 55px;
        background-size: 35px 35px;
        border-bottom: 2px solid white;
    }

    .title_block_properties {
        font-weight: 600;
        padding: 10px;
        padding-top: 8px;
    }

    .block_section_properties_bk-1 .icon_block_properties {
        background-size: 70px 32px;
    }

    .block_section_properties_bk-3 .icon_block_properties {
        background-size: 35px 35px;
    }
    
    .title_section_properties {
        width: 100%;
        height: 80px;
    }
    
    .title_section_properties:after {
        font-size: 16px;
        line-height: 22px;
        width: 300px
    }

}

@media (max-width: 500px) {
    .nav_list_links_soc {
        align-items: flex-start;
        padding-top: 13px;
        width: 100px;
    }

    .link_icon_soc {
        background-size: contain;
        width: 28px;
        height: 28px;
    }
}

@media (max-width: 400px) {

    .header_nav {
        margin-left: 10px;
    }

    .link_mobal {
        width: 130px; 
        font-size: 17px;    
    }
    
    .nav_list_links_soc {
        padding-top: 16px;
    }

    .link_logo {
        width: 130px;
    }

    .header .position {
        padding: 0;
        margin: 0;
        margin-right: 10px;
    }

    .block_section_properties {
        margin: 10px;
    }
}

@media (max-width: 400px) {
    .content_section_order:after {
        top: 60px;
        width: 160px;
        height: 160px;
        right: 0px;
     }
 
     .title_section_order {
         font-size: 11px;
         max-width: 280px;;
     }
 
     .text_section_order {
         margin-top: 20px;
     }
 
     .description_order {
         font-size: 14px;
     } 


}