@media (max-width: 1300px) {
    .nav_list_links_soc {
        margin-right: 0px;
    }

    .position {
        max-width: 866px;
        margin: 0 30px;
    }

    .header .position {
        padding-left: 25px;
    }

    .section_offer {
        min-height: 730px;
    }

    .content_section_offer {
        top: 120px;
        padding: 25px;
        max-width: 760px;
        min-height: 450px;
    }

    .title_content_offer h1 {
        font-size: 30px;
    }

    .text_content_offer {
        font-size: 26px;
        max-width: 350px;
    }

    .video_content_offer {
        width: 350px;
        height: 200px;
    }

    .special_section_offer {
        max-width: 460px;
        right: -105px;
        top: 105px;
        padding: 20px;
    }

    .text_special_offer { 
        margin-top: 12px; 
        font-size: 22px;
    }
    
    .special_price_offer {
        margin-top: 5px;
        line-height: 52px;
    }
    
    .special_cost_offer {
        font-size: 60px;
    }
    
    .valuta_special_cost {
        font-size: 35px;
    }
    
    
    .title_special_offer h2{
        font-size: 22px;
    }
    
    .choice_special_offer {
      margin-top: 5px;
    }
    
    .text_choice {
        font-size: 17px;
    }
    
    .icon_select_model {
        height: 55px;
        width: 35px;
    }

    .special_offer_image {
        top: 40px;
        right: 20px;
        width: 230px;
        height: 142px;
    }

    .merit_choice{
        margin-top: 12px;
    }

    .type_merit {
        line-height: 24px;
        font-size: 15px;
    }

    .type_merit:after {
        left: -26px;
        width: 10px;
        height: 10px;
        bottom: 10px;
    }

    .button_special_offer {
        bottom: -120px;
    }
}

@media (max-width: 950px) {

    .special_section_offer {
       position: static;
       margin-top: 30px;
       min-width: 100%;
    }

    .img_wrapper {
        position: relative
    }

    .special_offer_image {
      position: absolute;
      top: -265px;
      right: 0px;
    }

    .content_section_offer {
        position: static;
        margin-top: 120px;
        margin-bottom: 50px;
        max-width: 645px;
        padding: 30px 35px;
        min-height: 950px;
    }

    .section_offer .position {
        justify-content: space-around;
    }

    .link_mobal {
        font-size: 25px;
        align-items: center;
    }

    .position {
        max-width: 866px;
        margin: 0 30px;
    }

    .header .position {
        padding-left: 25px;
    }

    .video_content_offer {
        margin-top: 20px;
        width: 100%;
        height: 300px;
        border: 8px solid white;
    }

    .section_offer {
        min-height: 730px;
    }

    .title_content_offer h1 {
        font-size: 24px;
    }

    .text_content_offer {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        font-size: 20px;
        margin-top: 15px;
        max-width: 100%;
    }

    .title_special_offer h2 {
        font-size: 18px;
    }

    .text_special_offer { 
        display: flex;
        justify-content: flex-start;
        width: 100%;
        font-size: 17px;
        margin-top: 15px; 
    }

    .text_special_offer p {
        max-width: 150px;
    }

    .special_price_offer {
        display: flex;
        margin-top: 0;
        line-height: 35px;
        margin-left: 10px;
    }

    .special_cost_offer {
        font-size: 50px;
    }
    
    .valuta_special_cost {
        display: flex;
        align-items: flex-end;
        font-size: 30px;
        margin-left: 5px;
    }

    .choice_special_offer {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
      }
      
    .text_choice {
        width: 100%;
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    .icon_select_model {
        height: 85px;
        width: 65px;
        margin-left: 0;
    }

    .special_offer_image {
        top: -300px;
        right: -20px;
        width: 230px;
        height: 142px;
    }

    .merit_choice {
        margin-top: 15px;
    }

    .list_choice {
        display: flex;
        justify-content: space-between;
    }

    .button_special_offer {
        bottom: 80px;
        left: 60%;
        width: 200px;
        height: 70px;;
    }

    .button_special_offer:after {
        display: block;
    }

    .link_special_offer{
        font-size: 18px;
        padding-top: 18px;
    }

    .border_button_specal_offer:after {
        top: 45%;
    }
}

@media (max-width: 750px) {

    .nav_list_links_soc {
        margin-right: 0px;
    }

    .header .position {
        padding: 0;
        margin: 0 10px;
    }

    .header {
        min-height: 80px;
    }

    .link_mobal {
        font-size: 19px;
        margin-left: 0;
        width: 160px;
        height: 100%;
        justify-content: center;
        align-items: flex-end;
    }

    .hedear_nav_logo {
        align-items: center;
        height: 50%;
        width: 160px;
    }

    .link_logo {
        background-size: contain;
        background-repeat: no-repeat;
        height: 46px;
        width: 160px;
    }

    .header_nav {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

}


@media (max-width: 690px) { 

    .content_section_offer {
        max-width: 315px;
        padding: 17px 20px;
        margin-top: 105px;
        min-height: 730px;
    }

    .section_offer .position {
        margin: 0 10px;
    }

    .title_content_offer h1{
        font-size: 19px;
    }

    .text_content_offer {
        font-size: 17px;
    }

    .video_content_offer {
        height: 160px;
        border: 5px solid white;
    }

    .special_section_offer {
        padding: 10px 7px;
        margin-top: 20px;
        border-radius: 10px;
    }

    .title_special_offer h2{
        font-size: 15px;
    }

    .text_special_offer {
        flex-direction: column;
        margin-top: 5px;
    }

    .text_special_offer p {
        max-width: 100%;
        font-size: 12px
    }

    .special_price_offer {
        flex-direction: column;
        margin-left: 0;
        margin-top: 20px;
    }

    .special_cost_offer {
        font-size: 60px;
    }

    .valuta_special_cost {
        font-size: 35px;
        margin-left: 0;
        margin-top: 5px;
    }

    .special_offer_image {
        width: 200px;
        height: 115px;
        top: -255px;
        right: -10px;
    }

    .choice_special_offer {
        margin-top: 10px;
    }

    .text_choice {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .icon_select_model {
        width: 37px;
        height: 50px;
    }

    .merit_choice {
        margin-left: 5px;
        padding-left: 10px;
    }

    .type_merit {
        font-size: 9px;
        font-weight: 100;
        letter-spacing: 0.3px;
    }

    .type_merit:after {
        left: -17px;
        top: 20%;
    }


    .button_special_offer {
        width: 150px;
        height: 45px;
        left: 47%;
        bottom: 65px;
    }

    .link_special_offer {
        font-size: 13px;
        padding-top: 10px;
        box-shadow: inset 0px 0px 5px white;
    }

    .border_button_specal_offer {
        width: 10px;
        border-radius: 3px;
    }

    .border_button_specal_offer:after {
        width: 5px;
        height: 5px;
    }

    .button_special_offer:after {
        width: 80px;
        height: 40px;
        top: 2px;
        left: -100px;
    }
}

@media (max-width: 500px) {
    .nav_list_links_soc {
        align-items: flex-start;
        padding-top: 13px;
        width: 100px;
    }

    .link_icon_soc {
        background-size: contain;
        width: 28px;
        height: 28px;
    }
}

@media (max-width: 400px) {

    .header_nav {
        margin-left: 10px;
    }

    .link_mobal {
        width: 130px; 
        font-size: 17px;    
    }
    
    .nav_list_links_soc {
        padding-top: 16px;
    }

    .link_logo {
        width: 130px;
    }

    .header .position {
        padding: 0;
        margin: 0;
        margin-right: 10px;
    }
}